{%  extends 'adminmaster.html' %} 
{% load static %}

{% block title %}Add product{% endblock %}

{% block content %}
<style>
    .addproduct{
        color: black;
        font-weight: bold;
    }
</style>
    <h1>Add Product</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident mollitia magni optio recusandae iste est eos necessitatibus maiores excepturi vel commodi, quam, quo error eveniet perferendis minima reiciendis vitae. Minus?</p>

    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="">Product Name:</label>
        <input type="text" name="pro_name"><br><br>
        <label for="">Product Price:</label>
        <input type="text" name="pro_price"><br><br>
        <label for="">Product Image:</label>
        <input type="file" name="pro_img"><br><br>
        <label for="">Product Category:</label>
        <select name="pro_cat" id="">
            {% for x in cats %}
            <option value="{{ x.id }}">{{ x.cat_name }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Submit</button>
        
    </form>
    

{% endblock %}