{%  extends 'adminmaster.html' %}
{% load static %}

{% block tittle %}Contact Pages{% endblock %}

{% block content %}
<style>
    .dashboart{
        color: black;
        font-weight: bold;
    }
</style>
<h1>Admin Dashboard</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, iusto amet nam aliquam quos corrupti totam illum pariatur dignissimos recusandae, vel accusamus tempore eligendi accusantium voluptatum deserunt doloremque rem distinctio.</p>

{% endblock %}
