{%  extends 'master.html' %}
{% load static %}

{% block tittle %}Contact Pages{% endblock %}

{% block content %}
<style>
    .registration{
        color: black;
        font-weight: bold;
    }
</style>
<section id="regsec" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h1>Registration</h1>
                <form action="/registration" method="post">
                    {% csrf_token %}
                    <div class="mb-3 mt-3">
                      <label for="name" class="form-label">Name:</label>
                      <input type="text" class="form-control" id="name" placeholder="Enter name" name="reg_name">
                    </div>
                    <div class="mb-3">
                      <label for="pwd" class="form-label">Email:</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter email" name="reg_email">
                    </div>
                    <div class="mb-3">
                        <label for="pwd" class="form-label">Phonenumber:</label>
                        <input type="text" class="form-control" id="phno" placeholder="Enter phone" name="reg_phonenumber">
                    </div>
                    <div class="mb-3">
                        <label for="pwd" class="form-label">UserID:</label>
                        <input type="text" class="form-control" id="regid" placeholder="Enter userID" name="reg_userid">
                      
                    </div>
                    <div class="mb-3">
                        <label for="pwd" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="reg_password">
                    </div>
                  
                    <div class="form-check mb-3">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember"> Remember me
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            
               
                
                  
            </div>
        </div>
    </div>
</section>
   
  {% endblock %}